.container {
    margin-bottom: 80px;
}
.logo{
    width: 100px;
}
.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-me{
    background-image: linear-gradient(to bottom, #ff589B 0%, #ff136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: goldenrod;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: royalblue;
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 350px;
}
#subscribe h6{
    color: gray;
}
.social{
    text-align: center;
}
.contact ul{
    display: inline;
    list-style-type: none;
}
footer{
    text-align: center;
    margin-top: 40px ;
}